@font-face {
  font-family: Oswald;
  src: url(./src/Oswald-VariableFont_wght.ttf);
}
:root{
  --fontSize:min(3vh, 3vw);
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  display: flex;
  
}

.leftSide {
  width: 40vw;
  height: 100vh;
  background-image: url(./Images/city‫Nigth.jpg);
  background-size: cover;

}
.rigthSide {
  width: 60vw;
  height: 100vh;
  background-color: rgb(250, 249, 246);
  color: purple;
}
.logo {
  --fontSizeLogo:min(10vh, 7vw);
  font-size: var(--fontSizeLogo);
  font-family: Oswald;
  color: white;
  width: 100%;
  min-height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 20vh;
  background-color: rgba(153, 51, 255, 0.5);
  gap: 1%;
}
img {
  
  max-height: 9vh;
  height: auto;
  max-width: min(22%,10vw);
  width: auto;
  display: inline-block;
  min-height: min(7vh, 7vw);
}

.formContainer{
  display: grid;
  grid-template-columns: 45% 45%;
  grid-template-rows: 25% 25% 50%;
  column-gap: 5%;
  row-gap: 10%;
  
}
.top {
  height: 25%;
  width: 100%;
  max-height: 30%;
  padding: 8% 5% 5% 5%;
  font-size: var(--fontSize);
}
p.two{
  padding-top: 2%;
}
.bottom{
  height: 20%;
  width: 100%;

  padding-left: 5%;
  padding-top: 3%;
  font-size: var(--fontSize);
}
.middle{
  height: 55%;
  width: 100%;
  background-color: #ffffff;
  padding-left: 5%;
  box-shadow: 0px 2px lightgray;

}


form{
  width: 100%;
  height: 100%;
}
fieldset{
  width:fit-content;
  height: 100%;
  color: purple;
}
legend{
  font-weight: bold;
}

.name, .contactInfo, .password{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

span{
  color: #EA4C89;
}

span:hover{
  cursor: pointer;
}

button{
  background-color: #EA4C89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Oswald,"Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2%;
}

button:hover,
button:focus {
  background-color: #F082AC;
}
.firstNameMessage, .lastNameMessage, .passwordMessage, #confirmPasswordMessage, .emailMessage, .phoneMessage{
  color: red;
  font-size: 1vw;
}
input[name="firstName"]:not(:focus):valid{
  background-color: rgb(175, 225, 175);
}
input[name="firstName"]:not(:focus):valid + .firstNameMessage{
  visibility: hidden;
}
input[name="lastName"]:not(:focus):valid{
  background-color: rgb(175, 225, 175);
}
input[name="lastName"]:not(:focus):valid + .lastNameMessage{
  visibility: hidden;
}
input[name="email"]:not(:focus):valid{
  background-color: rgb(175, 225, 175);
}
input[name="email"]:not(:focus):valid + .emailMessage{
  visibility: hidden;
}
input[name="phone"]:not(:focus):valid{
  background-color: rgb(175, 225, 175);
}
input[name="phone"]:not(:focus):valid + .phoneMessage{
  visibility: hidden;
}
input[name="password"]:not(:focus):valid{
  background-color: rgb(175, 225, 175);
}
input[name="password"]:not(:focus):valid + .passwordMessage{
  visibility: hidden;
}
